.campBase{
    position: relative;
   margin-top: 70px !important;

}
.CampoModifiq form{
    width: 100%;
    text-align: center;
    background-color: rgb(232, 232, 244);
    padding: 30px;
}
.CampoModifiq form input{
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.427) ;
    border-radius: 0 0 10px;
}
