@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    background-color: aliceblue !important;
}
.CampoTopLogin{
    background-image: url('./Img/ImgBackLogin.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
    height: 100%;
    position: fixed;
    border: none;
}
.CampoTopLoginInter{
    background-image: url('./Img/ImgBackLogin.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 400px;
    padding: 40px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.CampoTopLoginInter button{
    margin-top: 50px !important;
}
.CampoTopLoginInter h1{
    font-weight: 100;
}
.CampoTopLoginInter h6{
    font-weight: 100;
}
.CampoTopLoginInter div{
    border-bottom: 1px solid white;
    margin-top: 10px;
}
.CampoTopLoginInter div img{
    width: 26px;
}
.CampoTopLoginInter div input{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
} 
.CampoTopLoginInter input:focus {
    outline: none !important;
}

.CampoTop{
    background-image: url('./Img/ImgBack.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 330px;
}
.CampoTop div{
    position: relative;
    top: 100px;
    left: 50px;
    width: 350px;
    padding: 20px;
}
.CampoTop h1{
    font-family: 'Abril Fatface', cursive;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.CampoTop p{
    color: rgb(255, 255, 255);
}
header{
    top: 40px;
    position: relative;
}
aside{
    background-color:rgb(255, 255, 255);
}

.NavBarTop{
    background-color: rgb(67, 117, 146);
    display: flex;
    position: fixed;
    width: 100%;
    top: 8px;
    list-style: none;
    text-decoration: none;
    z-index: 50;
}
.NavBarTop li{
    margin-left: 10px;
    padding: 10px 15px;
}
.NavBarTop a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ButtonMaster{
    padding: 5px 45px;
    border: 0;
    font-size: 14px;
    outline: none;
    background-color: rgb(51, 101, 130);
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.562);
    transition: transform 0.2s, box-shadow 0.2s;
}
.ButtonMaster:hover{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.562);

}
.ButtonMaster:active{
    transform: translateY(4px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.562);
}
